$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Alatsi', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin-bottom: 60px;

}

footer {
  position: fixed;
  bottom: 0;
  right: 30px;

}



a:visited {
  color: black;
}

ul {
  list-style: none;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff85f;
}

li {
  float: left;
}

li a {
  display: block;
  color: noir;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ffcb6f;
}


.space {

}

.majuscule {
  text-transform: uppercase;
}

.petit {
  height: auto;
  max-width: 500px;
  width: 100%
}

.zoom {
  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.030);
}


img:hover{
  opacity: .9;
  // width: 50px;
  // height: 50px;
}



body {
  background: linear-gradient(0deg, rgba(255,203,111,1) 19%, rgba(255,248,95,1) 89%);  text-align: center;
  min-height: 99vh;
}
